#page-header {
    position: relative;
    text-align: center;
    background: rgba(255,255,255,1);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(252,234,187,1) 61%, rgba(175,148,50,1) 88%, rgba(175,148,50,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(40%, rgba(255,255,255,1)), color-stop(61%, rgba(252,234,187,1)), color-stop(88%, rgba(175,148,50,1)), color-stop(100%, rgba(175,148,50,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(252,234,187,1) 61%, rgba(175,148,50,1) 88%, rgba(175,148,50,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(252,234,187,1) 61%, rgba(175,148,50,1) 88%, rgba(175,148,50,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(252,234,187,1) 61%, rgba(175,148,50,1) 88%, rgba(175,148,50,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(252,234,187,1) 61%, rgba(175,148,50,1) 88%, rgba(175,148,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#af9432', GradientType=0 );
    -webkit-box-shadow: 0px 2px 5px 0px rgba(140,126,57,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(140,126,57,1);
    box-shadow: 0px 2px 5px 0px rgba(140,126,57,1);
    .logo-block {
        h1 {
            position: relative;
            display: inline-block;
            margin: 5px 0 6px;
            padding: 0 15px;
            img {
                display: block;
                width: auto;
                height: 50px;
                margin: 0 auto;
            }
            .type {
                position: absolute;
                right: 0;
                bottom: 0;
                @include font();
                color: #7a7458;
                font-size: 0.85em;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }
    .page-title {
        padding: 6px 0;
        @include font();
        color: $white;
        font-size: 1.5em;
        text-transform: uppercase;
    }
}
.branch {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    width: 60px;
}
